body {
    margin: 0;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr 1fr;

    padding: 25px 50px;
    position: relative;
    box-shadow: 0px 8px 6px -6px rgb(83, 83, 83);
}

.top-header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.alerts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-header {
    grid-column: 1 / 3;
    display: grid;
}

.btm-hdr-name {
    display: flex;
    justify-content: space-between;
}

.greeting {
    display: flex;
}

.user-greeting {
    display: flex;
    flex-direction: column;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    background-color: #1C81E5;
    /* height: 100vh; */
    background-size: cover;

    color: white;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-left: 10px;
}

.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-left: 25px;
    font-size: 18px;
}

.main-content-container {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 4fr 1fr;

    padding: 0 50px;

    background-color: #EAEEF1;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.articles .card {
    background-color: #FFFFFF;
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 5%;
    box-shadow: 0px 8px 6px rgb(83, 83, 83);
    background-image: linear-gradient(to right, orange 3%, rgba(0,0,0,0) 2%)
}

.card .title {
    font-size: 18px;
}

.card .p {
    font-size: 14px;
}


.news-container {
    display: flex;
    flex-direction: column;
}

/*image stlying*/

.magnify, .bell, .btm-hdr-smile {
    height: 30px;
    width: 30px;
    filter: invert(45%) sepia(55%) saturate(3079%) hue-rotate(188deg) brightness(94%) contrast(90%);
}

.btm-hdr-smile-big {
    height: 90px;
    width: 90px;
    filter: invert(45%) sepia(55%) saturate(3079%) hue-rotate(188deg) brightness(94%) contrast(90%);
}

.dashboard-logo {
    height: 50px;
    width: 50px;
    filter: invert(89%) sepia(14%) saturate(74%) hue-rotate(165deg) brightness(110%) contrast(100%);
}

.home-logo, .card-logo, .message-logo, 
.history-logo, .note-logo, .account-logo, 
.settings-logo, .help-logo, .shield-logo {
    height: 30px;
    width: 30px;
    filter: invert(89%) sepia(14%) saturate(74%) hue-rotate(165deg) brightness(110%) contrast(100%);
}