body {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr;

    padding: 25px 50px;
}

.top-header {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.alerts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-header {
    display: grid;
}


/*image stlying*/

.magnify, .bell, .btm-hdr-smile {
    height: 30px;
    width: 30px;
    filter: invert(45%) sepia(55%) saturate(3079%) hue-rotate(188deg) brightness(94%) contrast(90%);
}
